web/docroot/common/config/main-local.php
web/docroot/common/config/params-local.php
web/docroot/common/config/test-local.php
web/docroot/console/config/main-local.php
web/docroot/console/config/params-local.php
web/docroot/backend/config/main-local.php
web/docroot/backend/config/params-local.php
web/docroot/backend/config/test-local.php
web/docroot/backend/web/index.php
web/docroot/frontend/config/main-local.php
web/docroot/frontend/config/params-local.php
web/docroot/frontend/config/test-local.php
web/docroot/frontend/web/index.php
web/docroot/backend/web/index.php
web/docroot/backend/uploads/*.jpg
web/docroot/backend/uploads/*.jpeg
web/docroot/backend/uploads/*.png
web/docroot/backend/uploads/*.gif
web/docroot/backend/uploads/**/*.jpg
web/docroot/backend/uploads/**/*.jpeg
web/docroot/backend/uploads/**/*.png
web/docroot/backend/uploads/**/*.gif
web/docroot/backend/uploads/**/**/*.jpg
web/docroot/backend/uploads/**/**/*.jpeg
web/docroot/backend/uploads/**/**/*.png
web/docroot/backend/uploads/**/**/*.gif
/nbproject
web/docroot/machine_specific_conf.php